In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Orange_Data = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Intel%20Data/Orange_Telecom_Churn_Data.csv')
Orange_Data

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False
20,FL,147,415,396-5800,no,no,0,155.1,117,26.37,...,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False
21,CO,77,408,393-7984,no,no,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True
22,AZ,130,415,358-1958,no,no,0,183.0,112,31.11,...,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False
23,SC,111,415,350-2565,no,no,0,110.4,103,18.77,...,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
24,VA,132,510,343-4696,no,no,0,81.1,86,13.79,...,72,20.84,237.0,115,10.67,10.3,2,2.78,0,False
25,NE,174,415,331-3698,no,no,0,124.3,76,21.13,...,112,23.55,250.7,115,11.28,15.5,5,4.19,3,False
26,WY,57,408,357-3817,no,yes,39,213.0,115,36.21,...,112,16.24,182.7,115,8.22,9.5,3,2.57,0,False
27,MT,54,408,418-6412,no,no,0,134.3,73,22.83,...,100,13.22,102.1,68,4.59,14.7,4,3.97,3,False
28,MO,20,415,353-2630,no,no,0,190.0,109,32.30,...,84,21.95,181.5,102,8.17,6.3,6,1.70,0,False
29,HI,49,510,410-7789,no,no,0,119.3,117,20.28,...,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,MD,133,415,363-2715,no,no,0,173.1,126,29.43,...,98,17.00,231.0,103,10.40,10.8,1,2.92,1,False
4971,HI,128,510,409-8074,no,yes,28,115.4,96,19.62,...,94,15.76,209.3,69,9.42,17.7,4,4.78,0,False
4972,FL,81,408,357-1624,no,no,0,190.9,92,32.45,...,132,17.74,120.8,98,5.44,11.4,6,3.08,1,False
4973,ND,81,415,342-2543,no,no,0,234.1,105,39.80,...,88,20.18,240.6,85,10.83,11.4,4,3.08,1,False
4974,LA,96,408,347-4427,no,no,0,102.1,74,17.36,...,88,7.96,236.2,125,10.63,14.0,2,3.78,1,False
4975,AR,93,415,411-9580,no,no,0,131.9,91,22.42,...,92,17.32,205.6,121,9.25,6.8,3,1.84,1,False
4976,KY,145,408,338-1170,no,no,0,135.0,122,22.95,...,88,17.54,210.4,90,9.47,19.7,4,5.32,0,False
4977,HI,53,510,356-5217,yes,no,0,145.0,80,24.65,...,82,19.41,169.4,109,7.62,8.9,5,2.40,0,False
4978,KS,108,408,389-4921,no,no,0,170.3,48,28.95,...,146,15.95,204.0,84,9.18,16.1,4,4.35,3,False
4979,TX,52,415,330-3162,no,no,0,188.7,99,32.08,...,89,17.88,191.4,103,8.61,10.8,2,2.92,1,False
4980,WA,73,408,408-8236,no,no,0,177.2,118,30.12,...,84,22.99,241.8,112,10.88,12.3,2,3.32,3,True
4981,NC,61,510,408-3742,no,no,0,7.2,97,1.22,...,78,18.85,174.5,94,7.85,12.0,4,3.24,1,False
4982,TX,86,408,360-8716,no,no,0,181.1,124,30.79,...,105,19.51,122.2,91,5.50,5.6,6,1.51,5,False
4983,LA,137,408,400-1731,no,no,0,151.8,90,25.81,...,68,19.52,171.8,122,7.73,10.8,5,2.92,2,False
4984,TN,74,510,341-2423,no,no,0,159.4,86,27.10,...,122,17.85,172.4,99,7.76,8.5,2,2.30,1,False
4985,NC,118,510,344-6099,no,yes,31,226.6,99,38.52,...,136,14.02,189.3,120,8.52,10.2,5,2.75,3,False
4986,OH,125,415,364-2584,no,no,0,214.7,115,36.50,...,94,22.15,266.3,123,11.98,7.4,6,2.00,3,False
4987,AR,127,415,397-4141,no,yes,27,157.6,107,26.79,...,49,23.85,75.1,77,3.38,8.0,4,2.16,1,False
4988,WA,80,510,397-4475,no,no,0,157.0,101,26.69,...,127,17.75,113.3,109,5.10,16.2,2,4.37,2,False
4989,MN,150,408,407-6315,no,no,0,170.0,115,28.90,...,138,13.83,267.2,77,12.02,8.3,2,2.24,0,False
4990,ND,140,510,364-8203,no,no,0,244.7,115,41.60,...,101,21.98,231.3,112,10.41,7.5,6,2.03,1,True
4991,AZ,97,510,410-3888,no,no,0,252.6,89,42.94,...,91,28.93,256.5,67,11.54,8.8,5,2.38,1,True
4992,MT,83,415,355-3630,no,no,0,188.3,70,32.01,...,88,20.72,213.7,79,9.62,10.3,6,2.78,0,False
4993,WV,73,408,411-9655,no,no,0,177.9,89,30.24,...,82,11.15,186.2,89,8.38,11.5,6,3.11,3,False
4994,NC,75,408,417-1886,no,no,0,170.7,101,29.02,...,126,16.41,129.1,104,5.81,6.9,7,1.86,1,False
4995,HI,50,408,365-8751,no,yes,40,235.7,127,40.07,...,126,18.96,297.5,116,13.39,9.9,5,2.67,2,False
4996,WV,152,415,334-9736,no,no,0,184.2,90,31.31,...,73,21.83,213.6,113,9.61,14.7,2,3.97,3,True
4997,DC,61,415,333-6861,no,no,0,140.6,89,23.90,...,128,14.69,212.4,97,9.56,13.6,4,3.67,1,False
4998,DC,109,510,394-2206,no,no,0,188.8,67,32.10,...,92,14.59,224.4,89,10.10,8.5,6,2.30,0,False
4999,VT,86,415,373-8058,no,yes,34,129.4,102,22.00,...,104,22.70,154.8,100,6.97,9.3,16,2.51,0,False

We will be using customer churn data from the telecom industry for this exercises. The data file is called Orange_Telecom_Churn_Data.csv
- Read the  data into df
- Display the top five rows
- Display the last three rows
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Print the row indices of the dataframe
- Check the dtype of each and every columns
- Description for Numerical Column min,max,count,25%,50%,75%,std
- Description for the categorical Columns count,top,freq
- Missing value count column wise
- Total Missing values count in the DataFrame
- If there are any missing values replace them.
- Check the output for the info function
- Access 3,5,7 columns using iloc,loc and without using any of them
- How many unique states are there
- How many customers are churned
- How many are not churned

In [3]:
Orange_Data.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
Orange_Data.tail(3)

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
4997,DC,61,415,333-6861,no,no,0,140.6,89,23.9,...,128,14.69,212.4,97,9.56,13.6,4,3.67,1,False
4998,DC,109,510,394-2206,no,no,0,188.8,67,32.1,...,92,14.59,224.4,89,10.10,8.5,6,2.30,0,False
4999,VT,86,415,373-8058,no,yes,34,129.4,102,22.0,...,104,22.70,154.8,100,6.97,9.3,16,2.51,0,False

In [5]:
Orange_Data.shape[0]

5000

In [6]:
Orange_Data.shape[1]

21

In [7]:
Orange_Data.columns

Index(['state', 'account_length', 'area_code', 'phone_number', 'intl_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churned'],
      dtype='object')

In [8]:
Orange_Data.index

RangeIndex(start=0, stop=5000, step=1)

In [9]:
Orange_Data.dtypes

state                             object
account_length                     int64
area_code                          int64
phone_number                      object
intl_plan                         object
voice_mail_plan                   object
number_vmail_messages              int64
total_day_minutes                float64
total_day_calls                    int64
total_day_charge                 float64
total_eve_minutes                float64
total_eve_calls                    int64
total_eve_charge                 float64
total_night_minutes              float64
total_night_calls                  int64
total_night_charge               float64
total_intl_minutes               float64
total_intl_calls                   int64
total_intl_charge                float64
number_customer_service_calls      int64
churned                             bool
dtype: object

In [10]:
Orange_Data.describe(include='all')

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
count,5000,5000.00000,5000.000000,5000,5000,5000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000
unique,51,NaN,NaN,5000,2,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,WV,NaN,NaN,327-5525,no,no,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,158,NaN,NaN,1,4527,3677,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4293
mean,NaN,100.25860,436.911400,NaN,NaN,NaN,7.755200,180.288900,100.029400,30.649668,...,100.191000,17.054322,200.391620,99.919200,9.017732,10.261780,4.435200,2.771196,1.570400,NaN
std,NaN,39.69456,42.209182,NaN,NaN,NaN,13.546393,53.894699,19.831197,9.162069,...,19.826496,4.296843,50.527789,19.958686,2.273763,2.761396,2.456788,0.745514,1.306363,NaN
min,NaN,1.00000,408.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,73.00000,408.000000,NaN,NaN,NaN,0.000000,143.700000,87.000000,24.430000,...,87.000000,14.140000,166.900000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000,NaN
50%,NaN,100.00000,415.000000,NaN,NaN,NaN,0.000000,180.100000,100.000000,30.620000,...,100.000000,17.090000,200.400000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000,NaN
75%,NaN,127.00000,415.000000,NaN,NaN,NaN,17.000000,216.200000,113.000000,36.750000,...,114.000000,19.900000,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000,NaN
max,NaN,243.00000,510.000000,NaN,NaN,NaN,52.000000,351.500000,165.000000,59.760000,...,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,NaN

In [11]:
Orange_Data.describe(include=object)

       state phone_number intl_plan voice_mail_plan
count   5000         5000      5000            5000
unique    51         5000         2               2
top       WV     327-5525        no              no
freq     158            1      4527            3677

In [12]:
Orange_Data.isnull().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
intl_plan                        0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churned                          0
dtype: int64

In [13]:
Orange_Data.isnull().sum().sum()

0

In [14]:
Orange_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
state                            5000 non-null object
account_length                   5000 non-null int64
area_code                        5000 non-null int64
phone_number                     5000 non-null object
intl_plan                        5000 non-null object
voice_mail_plan                  5000 non-null object
number_vmail_messages            5000 non-null int64
total_day_minutes                5000 non-null float64
total_day_calls                  5000 non-null int64
total_day_charge                 5000 non-null float64
total_eve_minutes                5000 non-null float64
total_eve_calls                  5000 non-null int64
total_eve_charge                 5000 non-null float64
total_night_minutes              5000 non-null float64
total_night_calls                5000 non-null int64
total_night_charge               5000 non-null float64
total_intl_minutes               5000 non-null float64
total_intl_calls                 5000 non-null int64
total_intl_charge                5000 non-null float64
number_customer_service_calls    5000 non-null int64
churned                          5000 non-null bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 786.2+ KB

In [15]:
Orange_Data.iloc[:,2:7:2]

      area_code intl_plan  number_vmail_messages
0           415        no                     25
1           415        no                     26
2           415        no                      0
3           408       yes                      0
4           415       yes                      0
5           510       yes                      0
6           510        no                     24
7           415       yes                      0
8           408        no                      0
9           415       yes                     37
10          415        no                      0
11          415        no                      0
12          408        no                      0
13          510        no                      0
14          415        no                      0
15          415        no                      0
16          408        no                     27
17          510        no                      0
18          510        no                     33
19          415        no                      0
20          415        no                      0
21          408        no                      0
22          415        no                      0
23          415        no                      0
24          510        no                      0
25          415        no                      0
26          408        no                     39
27          408        no                      0
28          415        no                      0
29          510        no                      0
...         ...       ...                    ...
4970        415        no                      0
4971        510        no                     28
4972        408        no                      0
4973        415        no                      0
4974        408        no                      0
4975        415        no                      0
4976        408        no                      0
4977        510       yes                      0
4978        408        no                      0
4979        415        no                      0
4980        408        no                      0
4981        510        no                      0
4982        408        no                      0
4983        408        no                      0
4984        510        no                      0
4985        510        no                     31
4986        415        no                      0
4987        415        no                     27
4988        510        no                      0
4989        408        no                      0
4990        510        no                      0
4991        510        no                      0
4992        415        no                      0
4993        408        no                      0
4994        408        no                      0
4995        408        no                     40
4996        415        no                      0
4997        415        no                      0
4998        510        no                      0
4999        415        no                     34

[5000 rows x 3 columns]

In [16]:
Orange_Data.state.nunique()

51

In [17]:
Orange_Data.churned.sum()

707

In [18]:
# Seperate the features and target

In [ ]:
# get the numerical column names from fetaures
# Get the categorical column names from features

In [ ]:
# Draw the histogram for all the numerical columns
# If there are skewed data columns apply np.log or np.log1p and overwrite the columns with results


### Applying KNN with Numerical Data Only

-  Get the numerical columns data only into num_features
- Split the data num_features and target into 80% for 
- training 20% for testing and random state 40
- store the results in X_train,X_test,y_train,y_test
- Train the KNN with X_train,y_train
- predict the output for X_train store it in variable y_out
- calculate the accuarcy for y_out,y_train
- predict the output for X_test store it in variable y_pred
- calculate the accuarcy for y_pred,y_test